*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .938rem;
    background-color:#fff;
}

ul{
    list-style-type: none;   
}

a{
    text-decoration: none;
}

.container{
    max-width:2000px;
    margin-inline: auto;
    padding-inline: 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: #183153; */
    background-color: #140B5C;
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.nav{
    height: 3.5rem;  
}

.nav__logo,
.nav__burger,
.nav__close{
    color: #fff;
}

.nav__data{
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    display:inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight:  600;
}

.nav__logo {
    font-weight:initial;
    font-size:1.25rem;
}

.nav__toggle{
    position:relative;
    width:32px;
    height:32px;
}

.nav__burger,
.nav__close{
    position:absolute;
    width: 1.25rem;
    height: 1.25rem;
    inset: 0;
    margin: auto;
    cursor: pointer;
    transition: opacity .1s, transform .4s; 
}
.nav__close{
    opacity: 0;
}

/* Layout */
#container {
    display: grid;
    /* margin: 20px; */
    gap: 20px;
    grid-template-columns: 1fr; /* tylko jedna kolumna */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    align-items: start;
    margin-top: 3.5rem;
    background-color: #fff;
}
.visually-hidden {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#page_content{
    width: 100%;
    color: #060233;
    /* background-color: #f3f0f5; */
    /* background-color: #f9f9f9; */
    /* padding: 20px; */
    /* border-radius: 10px; */
    border: 1px solid #ddd;

}

.latest_articles-section,
.advisory_articles-section{
    padding: 20px;
}

.articles-grid,
.advisory_articles-grid{
    display: grid;
    padding: 10px 40px 40px 40px;
    grid-template-columns: repeat(3, 1fr); /* max 4 w rzędzie */
    gap: 24px;
}
.advisory_articles-section{
    width: 100%;
    background-color: #EAF6F1;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.article-card{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  /* border-radius: 1em; */
  background: #ECE9E6;
  gap: 15px;
  padding: 20px;
}
.advisory_article-card{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    /* border-radius: 1em; */
    background: #fff;
    gap: 15px;
    padding: 20px;
}
.article-card:hover{
    cursor: pointer;
}

.section-title {
    font-size: 1.5em;
    margin: 20px 10px;
    margin-left: 40px; 
    color: #004080;
}
.advisory_articles-section .section-title{
    font-size: 1.5em;
    margin: 20px 10px 10px 10px;
    margin-left: 40px; 
    color: #004080;
}
.advisory_articles-section header{
    margin: 30px;
    text-align: center;
}
.advisory_articles-section p{
    font-size: 1em;
    margin-left: 40px;
    color: #004080;
    display: block;
}
.article-card .article-card__header,
.advisory_article-card .advisory-article-card__header{
    aspect-ratio: 16 / 9; /* wymusza proporcje */
    overflow: hidden;
    position: relative;
    /* display: inline-block;     */
}


.article-card__header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article-card .categories{
    margin-bottom: 10px;
}
.article-card h3,
.advisory_article-card h3{
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 15px;
}
.article-card img,
.advisory_article-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 8px; */
    /* display: block; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
}

.article-card .article-card__body,
.advisory_article-card .advisory-article-card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.article-card__body .tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.article-card .article_footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.article_footer .user {
  display: flex;
  gap: .5rem;
}

.user .user__image {
  border-radius: 50%;
  display: block;
  object-fit: cover;
  max-width: 100%;
}

.user .user__info > small {
  color: #666;
}


/* Tablety – maks. 1024px: 2 kolumny */
@media (max-width: 1024px) {
    .articles-grid,
    .advisory_articles-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .article-card img,
    .advisory_article-card img {
        /* height: auto; */
        object-fit: cover;
    }
}

/* Telefony – maks. 768px: 1 kolumna */
@media (max-width: 768px) {
    .latest_articles-section .section-title,
    .advisory_articles-section .section-title{
        margin: 0 auto;
        text-align: center;
    }

    .articles-grid,
    .advisory_articles-grid {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .article-card,
    .advisory_article-card {
        padding: 5px;
    }

    .article-card img,
    .advisory_article-card img {
        /* height: auto; */
        object-fit: cover;
    }

    .article-card h3,   
    .advisory_article-card h3 {
        font-size: 1.2rem;
    }

    .article-card p,
    .advisory_articles-section p{
        font-size: 1rem;
        text-align: center;
        margin: 0 auto;
    }
}

.faq {
    width: 100%;
    margin: 2rem auto;
    padding: 60px;
}

.faq-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden; 
    transition: all 0.5s ease;
}

.faq-question {
    width: 100%;
    text-align: left;
    font-size: 1rem;
    padding: 2rem;
    color: #060233;
    background: #f5f5f5;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
}

.faq-question .dropdown__arrow {
    position: absolute;
    right: 20px;
    width: 1.25rem;
    height: 1.25rem;
    fill: #004080;
    transition: transform .4s;

}
.faq-item.active .dropdown__arrow {
    transform: rotate(180deg);
}
.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 1rem;
    margin-left: 2rem;
    color: #414852;
    background: #fff;
    transition: max-height 0.4s ease, padding 0.3 ease;
}

.faq-answer ul{
    list-style-type: disc;
    gap: 2rem;
    margin-left: 1.5rem;
    line-height: 180%;
}
.faq-answer ol {
    margin-left: 1.5rem;
    line-height: 180%;
}
.faq-item.active .faq-answer {
    max-height: 500px;
    padding: 1rem;
}


/* Stopka */
footer {
    position: relative;
    background-color: #060233;
    /* background-color: #140B5C; */
    color: white;
    /* margin-top: 40px; */
    width: 100%;
    bottom: 0;
    left: 0;
}

footer .content{
    /* background-color: #F1B077; */
    max-width: 1568px;
    margin: auto;
    padding: 20px 40px 40px 40px;
    position: relative;
}

footer .content::before{
    content: '';
    position: absolute;
    top: 123px;
    left: 50%;
    transform: translate(-50%);
    height: 1px;
    width: 95%;
    /* max-width: 1400px; */
    background: #AFAFB6;

}
footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px 80px 0px;
    padding: 0;
 }

 .content .top .logo-details{
    color: #fff;
    font-size: 30px;
 }

 .content .top .media-icons{
    display: flex;
 }

 .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    display: flex;               /* flex do centrowania ikony */
    justify-content: center;     /* poziome centrowanie */
    align-items: center;         /* pionowe centrowanie */
    /* line-height: 40px; */
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.4s ease;    
 }

 .content .top .media-icons .icon{
    width: 1.5rem;
    height: 1.5rem;
 }
 .top .media-icons a:nth-child(1){
    background-color: #4267B2;    
 }

 .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background-color: #fff;
 }

 .top .media-icons a:nth-child(2){
    background-color: #1DA1F2;    
 }

 .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background-color: #fff;
 }

 .top .media-icons a:nth-child(3){
    background-color: #E1306C;    
 }

 .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background-color: #fff;
 }

 footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
 }
 
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);

  }

  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
  }
  
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    /* left: 10%;               
    transform: translateX(-10%);  */
    bottom: -2px;
    height: 2px;
    width: 35px;
    background-color: #fff;

  }
  .content .link-boxes .box li{
    margin: 20px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  /* .content .link-boxes .input-box{
    margin-right: 55px;

  }
  .link-boxes .input-box input{

  } */
  footer .bottom-details{
    width: 100%;
    background-color: #020012;
    /* background-color: #0F0844; */
  }
  footer .bottom-details .bottom_text{
    /* max-width: 1400px; */
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    /* margin: auto; */
    padding: 20px 40px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
    text-wrap: nowrap;
  } 
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;

  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }

@media screen and (max-width: 960px) {
    footer .content .link-boxes {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 760px) {
    footer .content .top .logo-details {
        font-size: 26px;
    }
    footer .content .top .media-icons a {
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }
    footer .content .link-boxes .box {
        width: calc(33.33% - 10px);
    }
    footer .bottom-details .bottom_text span{
        font-size: 12px;
    }
}

@media screen and (max-width: 580px) {
    footer .content::before {
        top: 155px;
    }
    footer .content .top {
        flex-direction: column;
    }
    footer .content .top .media-icons {
        margin-top: 16px;
    }
    footer .content .link-boxes .box {
        width: calc(50% - 10px);
    }
    footer .content .bottom-details .bottom_text{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .bottom-details .bottom_text span{
        display: block; /* spany stają się elementami blokowymi */
        width: 100%;
        margin: 5px 0;  /* mały odstęp między nimi */
        /* white-space: normal; */
    }
    .bottom-details .bottom_text span{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* footer .bottom-details .bottom_text span a{
        margin-right: 5px;
        padding-right: 0;
        width: auto;
    } */
}

@media screen and (max-width: 475px) {
    footer{
        width: 100%;
    }
    
    footer .content .link-boxes .box{
        text-align: center;
    }
    footer .content .link-boxes .box {
        width: 100%; /* każda sekcja w osobnym wierszu */
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 1118px){
    .nav__menu{
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow:auto;
        pointer-events: none;
        opacity: 0;
        transition:top .4s, opacity .3s;
    }
    .nav__menu::-webkit-scrollbar{
        width: 0;
    }
    .nav__list{
        background-color: #140B5C;
        /* background-color: #183153; */
        padding-top: 1rem;
    }
}

.nav__link{
    color:#fff;
    /* background-color: #183153; */
    background-color: #140B5C;
    font-weight: 600;
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition:background-color .3s;
}

.nav__link:hover{
    background-color: #2A5591;
}

.show-menu{
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}

.show-icon .nav__burger{
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav__close{
    opacity: 1;
    transform: rotate(90deg);
}

.dropdown__item{
    cursor: pointer;
}

.dropdown__arrow{
    width: 1.25rem;
    height: 1.25rem;
    fill: #fff;
    /* font-weight: initial; */
    transition: transform .4s;
}

.dropdown__link,
.dropdown__sublink{
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color:#fff;
    background-color: #140B5C;
    /* background-color: #183153; */
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: 600;
    transition: background-color .3s;
}
.dropdown__link a{
    text-decoration: none;
    color: #fff;
}
.dropdown__link i,
.dropdown__sublink i{
    font-size: 1.25rem;
    font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover{ 
    background-color:#2A5591; 
}

.dropdown__subitem:hover > .dropdown__link{
    background-color: #2A5591;
}
.dropdown__menu,
.dropdown__submenu{
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}

.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover .dropdown__submenu{
    max-height: 1000px;
    transition: max-height .4s ease-in
}

.dropdown__item:hover .dropdown__arrow{
    transform: rotate(180deg);
}

.dropdown__sublink{
    /* background-color: #183153; */
    background-color: #140B5C;
}

/* Dla małych urządzeń  */
@media screen and (max-width: 475px){
    .container{
        margin-inline: -1rem;
    }
    .container .nav__data .logo{
        font-size: 1.5rem;
    }
    .nav__link{
        padding-inline: 1rem;
    }
}

/* Dla większych urządzeń */
@media screen and (min-width: 1118px){
    .container{
        margin-inline: auto;
    }

    #container{
        margin-top: 5.5rem;
    }
    .nav{
        height: 5.5rem;
        display: flex;
        justify-content: space-between;
    }
 
    .nav__toggle{
        display: none;
    }

    .nav__list{
        height: 100%;
        display: flex;
        column-gap: 3rem;    
    }

    .nav__link{
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem;
    }

    .nav__link:hover{
        background-color: transparent;
    }

    .dropdown__item,
    .dropdown__subitem{
        position: relative;
    }

    .dropdown__menu,
    .dropdown__submenu{
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s, top .3s;
    }

    .dropdown__link,
    .dropdown__sublink{
        padding-inline: 1rem 3.5rem;
    }

    .dropdown__subitem .dropdown__link{
        padding-inline: 1rem;
    }

    .dropdown__submenu{
        position:absolute;
        left:100%;
        top: .5rem;
    }

    .dropdown__item:hover .dropdown__menu{
        opacity: 1;
        top: 5.5rem;
        pointer-events: initial;
        transition: top .3s;
    }

    .dropdown__subitem:hover .dropdown__submenu{
        opacity: 1;
        top: 0;
        pointer-events: initial;
        transition: top .3s ;
    }
}

/* * {
  outline: 1px solid red; 
} */

